footer
  .container.text-center
    p.float-left Developed and #poweredbyPACE | © 2018 PACE Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://getonpace.org') PACE
