.navbar.navbar-expand-md
    .container
        a.navbar-brand(href='/')
            img(src="/img/union-mark@2x.png", alt="")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.navbar-toggler-icon
        .collapse.navbar-collapse
            -
                var links = [{title: 'About'},
                {title: 'Facilities'},
                {title: 'Pricing'},
                {title: 'Gallery'},
                {title: 'Events'},
                {title: 'Blog'},
                {title: 'Team'},
                {title: 'FAQ'}]
            ul.nav.navbar-nav.ml-md-auto.mr-md-5
                each link in links
                    li.nav-item
                        a.nav-link(href='/'+link.title.toLowerCase() data-section=link.section class=(title.toLowerCase() === link.title.toLowerCase()) ? 'active' : undefined)= link.title
        .navbar-right
            if loggedIn
                button(style="line-height:25px").btn.btn-gray
                    | My account
                    img(src="/img/account-icon@2x.png" alt="" height="25").ml-3
            else
                button.btn.btn-gray LOGIN | SIGNUP