.navbar.navbar-expand-md
  .container
    a.navbar-brand(href='/')
      img(src="/img/union-logo@2x.png", alt="")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      -var links = [{title: 'About', section: 'about'}, {title: 'Facilities', section: 'benefits'}, {title: 'Pricing', section: 'prices'}, {title: 'Events', section: 'events'}, {title: 'Blog', section: 'articles'}]
      ul.nav.navbar-nav.ml-md-auto.mr-md-5
        each link in links
          li.nav-item(class=(title === link.title.toLowerCase()) ? 'active' : undefined)
            a.nav-link(href='#' data-section=link.section)= link.title
      .navbar-right
        button.btn.btn-darkblue Login / Signup
        //- li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
          a.nav-link(href='/contact') Contact
      //- ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') My Account
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Logout
