.navbar.navbar-expand-md
    .container
        a.navbar-brand(href='/')
            img(src="/img/union-mark@2x.png", alt="")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.navbar-toggler-icon
        .collapse.navbar-collapse
            -
                var links = [{title: 'About', section: 'about'},
                {title: 'Facilities', section: 'benefits'},
                {title: 'Pricing', section: 'prices'},
                {title: 'Gallery', section: 'gallery'},
                {title: 'Events', section: 'events'},
                {title: 'Blog', section: 'articles'},
                {title: 'Team', section: 'team'},
                {title: 'FAQ', section: 'faq'}]
            ul.nav.navbar-nav.ml-md-auto.mr-md-5
                each link in links
                    li.nav-item(class=(title === link.title.toLowerCase()) ? 'active' : undefined)
                        a.nav-link(href='#' data-section=link.section)= link.title
        .navbar-right
            button.btn.btn-gray LOGIN | SIGNUP