.testimonials{
    padding: 70px 0;
    background-color: #f6f6f6;

    &-item{
        padding: 2rem 0;

        blockquote{
            max-width: 600px;

            p{
                color: $gray-700;
            }
        }

        p{
            color: $gray-900;

            small{
                color: $gray-600;
            }
        }
    }
}