extends ./../layout

block content
    section.hero.events-hero
        .overflow-white-bottom
        .hero-content
            h1 Upcoming events
            h3 Explore our community &amp; member events