extends ./../layout

block content
    section.hero.amenities-hero
    section.amenities-main
        .container
            .mb-5
                h1 S.T.E.A.M. WORK MAKES THE DREAM WORK
                h2 SCIENCE - TECHNOLOGY - ENTREPRENEURSHIP - ARTS - MEDIA
                h3 Be part of this vibrant and growing community.